@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;

  --primary: #FFD000;
  /* Vibrant Yolk Yellow */
  --primary-foreground: #000000;

  --secondary: #1A1A1A;
  --secondary-foreground: #FFFFFF;

  --accent: #FFD000;
  --accent-foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}